* {
	/* border: 1px solid red !important; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*h1, h3 {font-size: 100%;}*/

.row {
   display: flex;
   flex-wrap: wrap;
}
@media screen and (min-width: 706px) {
   h1, h4{
      text-align: right;
   }
}
/*Smaller screen?  Disable text-align: right, resize text.*/

@media screen and (max-width: 320px) {
h1, h4{
   font-size: 100%;
}
h2, h3{
   font-size: 75%;
}
h4, h5, p {
   font-size: 50%;
}
}